<form class="example-form">
   
  
    <table class="example-full-width" cellspacing="0"><tr>
      <td><mat-form-field class="example-full-width">
        <mat-label>First name</mat-label>
        <input matInput disabled value="Admin">
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width">
        <mat-label>Last Name</mat-label>
        <input matInput  disabled Value="Admin">
      </mat-form-field></td>
    </tr></table>
  
    <mat-form-field class="example-full-width">
        <mat-label>Roles</mat-label>
        <input matInput disabled value="Manager">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input matInput disabled value="admin@zyx.com">
      </mat-form-field>
    
  </form>