<div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-between stretch">
  <div class="mb10" fxFlex="24" fxFlex.lt-lg="49">
    <app-stat [bgClass]="'success'" [icon]="'all_out'" [count]="30" [label]="'Clients'"></app-stat>
  </div>
  <div class="mb10" fxFlex="24" fxFlex.lt-lg="49">
    <app-stat [bgClass]="'danger'" [icon]="'cloud'" [count]="112" [label]="'Projects'"></app-stat>
  </div>
  <div class="mb10" fxFlex="24" fxFlex.lt-lg="49">
    <app-stat [bgClass]="'warn'" [icon]="'cloud_circle'" [count]="190" [label]="'Sprints Completed'"></app-stat>
  </div>
  <div class="mb10" fxFlex="24" fxFlex.lt-lg="49">
    <app-stat [bgClass]="'info'" [icon]="'announcement'" [count]="303" [label]="'Hours Burn'"></app-stat>
  </div>
</div> 

<!-- <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-between stretch">
  <div class="mb10">
      <span>Completed 10 Sprints</span> 
  </div>
</div> -->
